[submodule "l1/lib/openzeppelin-contracts"]
	path = l1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "l1/lib/forge-std"]
	path = l1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "l1/lib/l1-contracts"]
	path = l1/lib/l1-contracts
	url = https://github.com/AztecProtocol/l1-contracts
